button {

	-webkit-appearance: none;
	appearance: none;

	cursor: pointer;

	padding: $gutter--half $gutter;
	background: $colour--primary;

	border: 1px solid $colour--secondary;

	&:hover {
		background: $colour--secondary;
		color: $colour--primary;
	}

}