/*
	borders
*/
button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  cursor: pointer;
  padding: 12.5px 25px;
  background: white;
  border: 1px solid #bfbfbf;
}
button:hover {
  background: #bfbfbf;
  color: white;
}

label {
  font-size: 1.2rem;
}

input[type=text] {
  padding: 12.5px 25px;
  background: white;
  border: 1px solid #bfbfbf;
  font-size: 1.2rem;
}

body {
  background: #dadada;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
/*
	borders
*/
button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  cursor: pointer;
  padding: 12.5px 25px;
  background: white;
  border: 1px solid #bfbfbf;
}
button:hover {
  background: #bfbfbf;
  color: white;
}
label {
  font-size: 1.2rem;
}
input[type=text] {
  padding: 12.5px 25px;
  background: white;
  border: 1px solid #bfbfbf;
  font-size: 1.2rem;
}
body {
  background: #dadada;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.player {
  flex: 1 1 0;
  margin: 25px;
  padding: 25px;
  background: white;
  border: 1px solid #bfbfbf;
  box-shadow: 0 0 5px #bfbfbf;
  border-radius: 12.5px;
}
/*
	borders
*/
button[data-v-3a2c79dd] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  cursor: pointer;
  padding: 12.5px 25px;
  background: white;
  border: 1px solid #bfbfbf;
}
button[data-v-3a2c79dd]:hover {
  background: #bfbfbf;
  color: white;
}
label[data-v-3a2c79dd] {
  font-size: 1.2rem;
}
input[type=text][data-v-3a2c79dd] {
  padding: 12.5px 25px;
  background: white;
  border: 1px solid #bfbfbf;
  font-size: 1.2rem;
}
body[data-v-3a2c79dd] {
  background: #dadada;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.players[data-v-3a2c79dd] {
  display: flex;
}
button[data-v-3a2c79dd] {
  display: block;
  width: 200px;
  margin: 25px auto;
}
/*
	borders
*/
button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  cursor: pointer;
  padding: 12.5px 25px;
  background: white;
  border: 1px solid #bfbfbf;
}
button:hover {
  background: #bfbfbf;
  color: white;
}
label {
  font-size: 1.2rem;
}
input[type=text] {
  padding: 12.5px 25px;
  background: white;
  border: 1px solid #bfbfbf;
  font-size: 1.2rem;
}
body {
  background: #dadada;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.guesses button {
  margin: -1px;
  padding: 5px;
  width: 31px;
}
